@charset "utf-8":
/*css document*/

body{
	margin:0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p{}
a{}
a:hover {}
	
	
h1, h2, h3, h4, h5, h6 {} 

/*heading rules*/
h2.siteTitle {
	margin:0px;
	padding:15px 0px 0px 15px;
}


h3.qTitle {
	margin:0px;
	padding:0px;
	
}

/*wraps */

.wrapOverall{
	width:900px;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:1 px solid #999999;
	margin:0px 0px 0px 30px;
	
}
.wrapContent{
	width:900px;
	
}

/*bsics*/

.header{
	 background-color: #DFDFDF;
	border-bottom:1px solid #999999;
	height:60px;
}

.content{
	width: 660px;
	float:right;
	border-left: 1px dotted #999999;
	min-height:500px;
	padding:0px 20px;
}

.footer{
		background-color: #EFEFEF;
		clear:both;
		margin:0px;
		padding:4px;
		border-left: 1px dotted #999999;
}		

.footer p{
	margin:0px;
	padding:0px;
}

/*navigation*/

.sideNav{
	width:199px;
	float:left;
}

.sideNav ul{
	margin:0px;
	padding:0px;
} 

.sideNav ul li{
	margin:0px;
	padding:0px;
	list-style:none;
	borer-bottom: 1px solid #999999
} 

.sideNav ul li a{
	margin:0px;
	padding:2px 0px 2px 4px;
	text-decoration:none;
	display:block;
}

.sideNav ul li a:hover{
	background-color:#EFEFEF
}

/*elemnts*/

.entry{
	margin:30px;
	 
}



